<h2 class="screen-align">Createscreen</h2>
<form id="template-ilaw" class="form gp-form-control">
    <div id="template-i4r1" class="form-group">
        <label id="template-ioyt" class="label">Name</label>
        <input placeholder="Type here your name" id="template-ivum"
        [(ngModel)]="connect.Name" [ngModelOptions]="{standalone: true}" class="input gp-input-text"
        />
    </div>
    <div id="template-io5zw" class="form-group">
        <button type="submit" id="template-i89j1" (click)="GpCreate()" class="button">Send</button>
    </div>
</form>